<?xml version="1.0"?>
<config>
  <modules>
    <BPMedia_Walmart>
      <version>0.0.1</version>
    </BPMedia_Walmart>
  </modules>
  <global>
    <models>
            <bpmediawalmart>
                <class>BPMedia_Walmart_Model</class>
            </bpmediawalmart>
        </models>
    <events>
    <catalog_product_save_after> <!-- identifier of the event we want to catch -->
        <observers>
          <bpmedia_walmart_model_observer> <!-- identifier of the event handler -->
            <type>singleton</type> <!-- class method call type; valid are model, object and singleton -->
            <class>BPMedia_Walmart_Model_Observer</class> <!-- observers class alias -->
            <method>update</method>  <!-- observer's method to be called -->
          </bpmedia_walmart_model_observer>
        </observers>
      </catalog_product_save_after>
    </events>
  </global>
</config> 